{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans l'accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Bienvenue dans l'accueil</h1>

		<ul>
			<li>Pour voir tous les tournaments, cliquez
				<a href="{{ path('app_tournament_index') }}">ici</a>
			</li>
			{# {% if this.user %}
																									<li>Pour voir votre profile, cliquez sur
																										<a href="{{ path('app_profile', {'id' : user.id}) }}">ici</a>
																									</li>
																								{% endif %} #}

			<li>Pour vous déconnecter cliquez
				<a href="{{ path('app_logout') }}">ici</a>
			</li>

			<li>Pour vous connecter cliquez
				<a href="{{ path('app_login') }}">ici</a>
			</li>

		</div>
	{% endblock %}
